.header-bar{
    display: flex;

    justify-content: space-between;
    padding: 10px;
}
h1{
    color: rgb(0, 206, 206);
    text-align: center;
}
h3{
    color: orange;
    text-align: center; 
}

.foot{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(0, 206, 206);
    color: white;
}